* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("image/background-img.jpg");
  background-size: cover;
  /* backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); */
  color: #fff;
}

a {
  text-decoration: none;
}

a:active {
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  height: 100%;
}

main *:not(input) {
  border-radius: .5rem;
}

main section {
  border: 1px solid #fff;
  width: 75%;
  max-width: 500px;
  margin-inline: auto;
  margin-block-start: 2rem;
  display: grid;
  place-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding-block: 1rem;
}

section form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* border: 1px solid #000; */
}

form h2 {
  margin-block: 0.5rem;
}

form div:not(.other-option) {
  width: 100%;
  text-align: left;
  position: relative;
  /* border: 1px solid #fff; */
  margin-bottom: 2rem;
}

form label {
  align-self: self-start;
  /* top: 1.6rem; */
  position: absolute;
  transform: translateY(.6rem);
  transition: all .3s ease-in-out;
}

form input,
button {
  width: 100%;
  color: #fff;
  padding: 0.5rem 0;
  background: transparent;
  border: none;
  outline: none;
  border-block-end: 1px solid;
}

:has(#login #email:focus) .email,
:has(#login #password:focus) .password {
  transform: translateY(-0.5rem);
  font-size: .7rem;
}

:has(#register #register-email:focus) .register-email,
:has(#register #register-password:focus) .register-password,
:has(#register #confirm-password:focus) .confirm-password {
  transform: translateY(-0.5rem);
  font-size: .7rem;
}

button {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #fff;
}

.other-option {
  width: 90%;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: none;
  border-top: 1px solid #fff;
  margin-bottom: 1rem;
}

.other-option legend {
  width: 10%;
}

button.google-btn {
  margin: 0;
}

p {
  margin-top: 1rem;
}

section:target {
  transition: all .3s;
}

@starting-style {
  section:target {
    transform: translateX(15%);
  }
}

:has(section:target) section:not(:target) {
  display: none;
}